/* ROOT VARIABLES */
:root {
    --primary: #ff4d4d;
    --bg: #fafafa;
    --dark: #333;
    --shadow: 0 3px 6px rgba(0,0,0,0.1);
    --radius: 10px;
    --transition: .25s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg);
    line-height: 1.6;
    color:#ff4d4d
}

header {
      background-color: var(--white);
      padding:  0px;
      border-bottom: 1px solid #eee;
      position: sticky;
      top: 0;
      z-index: 10;
  }
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 40px;
    box-shadow: var(--shadow);
    top: 0;
    z-index: 10;
}


.logo {
    font-size: 26px;
    font-weight: 700;
    color: var(--primary);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--primary);
}

.login-btn {
    background: var(--primary);
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
}

/* HERO ANIMATION */
.hero-content {
    opacity: 0;
    transform: translateX(-40px);
    animation: slideFadeIn 1.2s ease-out infinite forwards;
        
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    align-items: center;
    animation: fadeIn 1s ease;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content span {
    color: var(--primary);
}

.cta-btn {
    background: var(--primary);
    padding: 12px 25px;
    border: none;
    color: white;
    border-radius: var(--radius);
    margin-top: 20px;
    transition: var(--transition);
}

.cta-btn:hover {
    transform: scale(1.05);
}

.hero-img {
    width: 40%;
    border-radius: var(--radius);
}


/* SEARCH */
.search form {
    display: flex;
    gap: 20px;
    padding: 20px 40px;
}

.search input, .search select, .search button {
    padding: 12px;
    border-radius: var(--radius);
    border: 1px solid #ccc;
}

.search-btn {
    background: var(--primary);
    color: white;
    border: none;
}


/* CATEGORIES */
.categories {
    padding: 40px;
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top: 30px;
}

.category-card {
    background: white;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: var(--radius);
    transition: var(--transition);
}

.category-card:hover {
    transform: translateY(-5px);
    background-color: #ffcccc;
}


/* RESTAURANTS */
.restaurant-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.restaurant-card {
    background-color: rgb(244, 242, 242);
    padding: 15px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: var(--transition);

}

.restaurant-card:hover {
    transform: translateY(-5px);
    background-color: antiquewhite;
}


/* OFFERS */
.offer-banner {
    background: #ffcccc;
    padding: 15px;
    border-radius: var(--radius);
    margin-bottom: 15px;
}

.yellow {
    background: #fff7c2;
}


/* TESTIMONIALS */
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    padding: 40px;
}

.test-card {
    background: white;
    padding: 25px;
    border-radius: 10% var(--radius);
    text-align: center;
    box-shadow: var(--shadow);
}

.test-card:hover{
    box-shadow: #ffcccc;
    transform: scale(1.05);
    background-color: aqua;
}


/* APP SECTION */
.app-section {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

.store-btn {
    display: inline-block;
    background: var(--primary);
    padding: 10px 20px;
    color: white;
    border-radius: var(--radius);
    margin-top: 10px;
}


/* FOOTER */
footer {
    background: var(--dark);
    color: white;
    padding: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    color: #ddd;
    text-decoration: none;
}

.copy {
    margin-top: 20px;
    text-align: center;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
    }

    .hero-img {
        width: 90%;
        margin-top: 20px;
    }

    .category-grid,
    .restaurant-grid,
    .testimonials-grid {
        grid-template-columns: 1fr 1fr;
    }

    .app-section {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 500px) {

    .category-grid,
    .restaurant-grid,
    .testimonials-grid {
        grid-template-columns: 1fr;
    }
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}