/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

/* Portfolio Styling */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  color: #000;
}
header {
  background-color: #004aad;
  color: white;
  padding: 0px;
  text-align: center;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin: 0 10px;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ffb703;
  color: #000;
}


section {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
}
 /* About Section */
#about img{
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px auto;
  border: 3px solid #ffc0cb;
}

/* Skills Table */
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  color:#000;
  border: 1px solid #140a0a;
  padding: 10px;
  text-align: center;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:hover{
  background-color: #7c0505;
  color: white;
}
th{
  background-color: #333;
  color: white;
}
hr {
  border: 1px solid #004aad;
  width: 80%;
  margin: 20px auto;
}

/* Projects */
.project {
  border: 1px solid white;
  padding: 10px;
  margin: 10px ;
  background-color:white;
}

/* Contact Form */
form input,
form textarea {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}



/* Buttons */
button {
  background-color: #004aad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ffb703;
  color: black;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #004aad;
  color: white;
  position: relative;
}

/* Back to Top Button */
#top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffb703;
  padding: 10px;
  border-radius: 50%;
  color: #000;

}
